<nav class="navbar">
  <div class="navbar__title">
    <a class="title__link" href="/"><h1><%= title %></h1></a>
  </div>
  <div class="navbar__links">
    <a class="btn" href="/">Home</a>
  </div>
</nav>
