<div class="auth__container">
  <h1>Login</h1>
  <form action="/auth/login" method="post">
    <input type="text" name="username" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />
    <input class="btn auth-btn" type="submit" value="Login" />
  </form>
  <p>You don't have an account yet?</p>
  <a class="auth__url__stuff" href="/auth/register">Register</a>
</div>
