<div class="auth__container">
  <h1>Register</h1>

  <form action="/auth/register" method="post">
    <input type="text" name="username" placeholder="Username" />
    <input type="text" name="name" placeholder="Name" />
    <input type="email" name="email" placeholder="Email" />
    <input type="password" name="password" placeholder="Password" />
    <input type="password" name="password" placeholder="Password" />
    <input class="btn auth-btn" type="submit" value="Register" />
  </form>
  <p>You already have an account?</p>
  <a class="auth__url__stuff" href="/auth/login">Login</a>
</div>
