<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/global.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('./components/_navbar') %>
    <!-- if title = Register load register else load login -->
    <div class="auth__parent__container">
      <% if(title === "Register"){ %> <%- include('./components/register') %> <%
      } else { %> <%- include('./components/login') %> <% } %>
    </div>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
