/* navbar css for the blog index page*/

.navbar {
  /* thi is the navbar container */
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 0;
  margin: 0;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.navbar__links {
  /* this contains the login and signup buttons, we need them aligned right side of the page */
  float: right;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #444;
  background-color: #333;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar__title {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  float: left;
}

.title__link {
  /* this is the link which contains the title */
  text-decoration: none;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

/* the main__container is a container for each post, each post is a little card in a grid of cards */

.main__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  margin-top: 80px;
}

@media (max-width: 768px) {
  .main__container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    margin-top: 80px;
  }
}

/* each post is a card, this is the card container */

.main__container > div {
  background-color: #444;
  border-radius: 5px;
  color: #fff;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.post {
  /* align everything inside of the post center */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Add this line to center align the content horizontally */
  text-align: center; /* Add this line to center align the text horizontally */
}

.post__title__link {
  text-decoration: none;
  color: white;
}

/* <div class="comments__container">
          <p>Comments:</p>
          <div class="comments__comments">
            <% comments.forEach(function(comment) { %>
              <div class="comments_comment">
                <div class="user__icon">

                </div>
                <div class="user__content">
                  <p> <%= comment.content %></p>
              </div>
            <% }); %>
          </div>

        </div> */

.comments__comments {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.comments__comment {
  padding-top: 5px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  border: 3px solid #808080;
  border-radius: 5px;
}

.user__icon {
  width: 50px;
  height: 50px;
}
.user__icon > img {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.user__content {
  margin-top: 20px;
}

.auth__container {
  /* Center the container in the page */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  padding: 20px;
  border: 3px solid #808080;
  border-radius: 5px;
}

.auth__container > h1 {
  padding-top: 30px;
}

.auth__container > form {
  /* Center the form within the container */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  /* border: 3px solid #808080; */
  /* border-radius: 5px; */
  margin-top: 20px;
  margin-bottom: 20px;
}
/* mobile friendly */
@media (max-width: 768px) {
  .auth__container {
    /* Center the container in the page */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    padding: 20px;
    /* border: 3px solid #808080; */
    /* border-radius: 5px; */
  }
}

.auth__parent__container {
  /* Center the .auth__container in the page */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-btn {
  margin-top: 10px;
}

.auth__url__stuff {
  text-decoration: none;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
}

.auth__url__stuff:hover {
  text-decoration: underline;
}

.comments__item__input {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  border: 3px solid #808080;
  border-radius: 5px;
}

.comments__item__input > input {
  width: 100%;
  padding: 10px;
  border: 3px solid #808080;
  border-radius: 5px;
}
.comments__item__input > input:focus {
  outline: none;
}

.comments__item__submit {
  margin-top: 5px;
}

.comments__item__submit > button {
  /* align right */
  margin-left: auto;
}

.commenter {
  font-weight: 700;
}

.profile {
  padding: 20px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__details {
  display: flex;
  align-items: center;
}

.profile__details__avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.profile__details__info {
  margin-left: 20px;
}

.profile__details__info h1,
.profile__details__info h2,
.profile__details__info p {
  margin: 5px 0;
}

.new__post__parent__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.new__post__container {
  width: 400px;
  padding: 20px;
  background-color: #444;
  border: 1px solid #444;
  border-radius: 5px;
}

.new__post__container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.new__post__container form {
  display: flex;
  flex-direction: column;
}

.new__post__container input[type="text"],
.new__post__container select,
.new__post__container textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.new__post__container textarea {
  height: 90px;
  white-space: pre-wrap;
  overflow: auto;
  resize: none;
}

option:checked {
  color: rgb(255, 255, 255);
  background-color: #333;
}

select option {
  color: rgb(255, 255, 255);
  background-color: #555;
}
.new__post__container .btn {
  padding: 10px 20px;
  /* background-color: #007bff; */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.new__post__container .btn.auth-btn {
  background-color: #28a745;
}
.new__post__container .btn.centered {
  text-align: center;
}

.new__post__container .btn:hover {
  background-color: #055c2b;
}
